<tr class="lg:hover:text-blue-500 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
  <td class="w-full lg:w-auto p-3 text-center border border-b block lg:table-cell relative lg:static">
    <span class="lg:hidden absolute top-0 left-0 bg-gray-200 px-2 py-1 text-xs">Agent</span>
    <a href="{{ url_for('_agent', name=agent.name) }}">
      {{ agent.name }}
    </a>
  </td>
  <td class="w-full lg:w-auto p-3 text-center border border-b text-center block lg:table-cell relative lg:static">
    <span class="lg:hidden absolute top-0 left-0 bg-gray-200 px-2 py-1 text-xs">Description</span>
    <a href="{{ url_for('_agent', name=agent.name) }}">
      {{ agent.description | truncate(32) }}
    </a>
  </td>
  <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
    <span class="lg:hidden absolute top-0 left-0 bg-gray-200 px-2 py-1 text-xs">Status</span>
    {% if agent.enabled %}
    <span class="rounded bg-green-400 py-1 px-3 text-xs font-bold">active</span>
    {% else %}
    <span class="rounded bg-yellow-400 py-1 px-3 text-xs font-bold">inactive</span>
    {% endif %}
  </td>
  <td class="w-full lg:w-auto p-3 text-center border border-b text-center block lg:table-cell relative lg:static">
    <span class="lg:hidden absolute top-0 left-0 bg-gray-200 px-2 py-1 text-xs">Actions</span>
    <a href="#" class="text-blue-400 hover:text-blue-600 underline">Settings</a>
    {% if agent.enabled %}
    <a href="#" class="text-blue-400 hover:text-blue-600 underline pl-6">Disable</a>
    {% else %}
    <a href="#" class="text-blue-400 hover:text-blue-600 underline pl-6">Enable</a>
    {% endif %}
  </td>
</tr>
