@layer components {
  .sidebar {
    transition: all .4s ease-in-out;
  }
}

body {
  height: 100vh;
  /* display: grid; */
  /* grid-template-columns: 54px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar content"; */
}

/* .sidebar {
  grid-area: sidebar;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
} */

.content {  
  height: 100vh;
  /* grid-area: content; */
  /* overflow-y: auto; */
  /* padding-top: 1.6rem; */
}